*{
    margin: 0; 
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #ffccff;
    color: white;
}
#header{
    height: 100vh;
    width: 100%;
    background-image: url(IMAGES/bi.JPG);
    
    background-size: cover;
    background-position: center;
}
.container{
    padding: 15px 15px;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a ::after{
     content: '' ;
     width: 0;
     height: 3px;
     background:#ff004f;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.5s ;


}
nav ul li a :hover::after{
    width: 100%;

}
.header-text{
    margin-top: 15%;
    font-size: 30px;

}
.header-text h1{
    font-size: 45px;
}
.header-text h1 span{
    color: #ccffcc;
} 
/*------------------about-------------*/
#about{
    padding: 80px 0 ;
    color: #ababab;
    background-image: url(IMAGES/WhatsApp\ Image\ 2023-12-23\ at\ 13.58.02_136a580c.jpg);
    background-size: cover;
    background-position: center;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 20%;
}
.about-col-2{
    flex-basis: 50%;
}
.sub-title{
    color:white;
    font-size: 40PX;
    font-weight: 600;
    margin-bottom: 5%;
}
p{
    color: white;
    align-content: space-between;
}
.tab-title{
    display: flex;
}
.tab-links{
    margin-right: 50px ;
    margin-top: 5%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    width:0;
    content: '';
    height: 3px;
    background: #ffccff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin-left: -40px;
margin-bottom: 3%;

}
.tab-contents ul li span{
    color: #b54769;
    font-size:18px ;
    }
.tab-contents ul{
    margin-top: 5%;
}  
.tab-contents{
    display: none;

} 
.tab-contents.active-tab{
    display:block;

}
/*-------------------contact--------------------*/
#contact{
    background-image: url(IMAGES/WhatsApp\ Image\ 2023-12-23\ at\ 14.02.58_28ce9824.jpg);
    background-size: cover;
    background-position: center;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.conatact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 1s;
}
.social-icons a:hover{
    color:red;
    transform: translateY(-10px);
}
.btn{
    display: inline-block;
    background: lightgoldenrodyellow;
    color: grey;
    padding: 3%;
    border: 10px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 5%;
    font-size: 15px;

}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 60%;
    border: 0;
    outline:none ;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
